* {
    box-sizing: border-box;
}

.row {
    display: flex;
    margin-left:-5px;
    margin-right:-5px;
}

.column {
    flex: 25%;
    padding: 5px;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
    width: 100%;
    border: 1px solid #ddd;
}

th, td {
    text-align: left;
    padding: 16px;
}